[Unit]
Description=It deploys stuff
After=network.target

[Service]
Type=simple
ExecStart=/home/piegarden/deploy/pipeline/app.new

Restart=on-failure
RestartSec=45

[Install]
WantedBy=default.target
