[package]
name = "config"
edition.workspace = true
license.workspace = true
version.workspace = true

[dependencies]
serde = { version = "1.0", features = ["derive"] }
toml = "0.8"

[dev-dependencies]
tempfile = "3.10"
