body[data-page="landing"] h1 {
    color: #ff0000;
}
body[data-page="landing"] .item-link {
    display: inline-block;
    padding: .2rem .4rem;
    color: inherit;
    text-decoration: none;
}

body[data-page="landing"] {
    overflow-x: hidden;
}
