body[data-page="settings"] h1 {
    color: #0000ff;
}

body[data-page="settings"] #messages {
    display: flex;
    justify-content: space-around;
}

body[data-page="settings"] .ci {
    display: flex;
    justify-content: space-around;
}

body[data-page="settings"] .env {
    display: flex;
    flex-direction: column;
}

body[data-page="settings"] .item {
    border: solid 1px black;
    padding: 2rem;
}

body[data-page="settings"] {
    overflow-x: hidden;
}
